@use "../node_modules/bulma/sass/components/navbar.scss";
@use "../node_modules/bulma/sass/themes";
@use "../node_modules/bulma/sass/base";
@use "../node_modules/bulma/sass/elements/button.scss";
@use "../node_modules/bulma/sass/grid/columns.scss";
@use "../node_modules/bulma/sass/grid/grid.scss";
@use "../node_modules/bulma/sass/elements/content.scss";


$bg-color-1: #161732;
$bg-color-2: #FFFFFF;
$nav-bg: #FFFFFF;
$btn-clr: #FF3366;
$btn-font-clr:#FFFFFF;
$font-family: 'Plus Jakarta Sans', sans-serif;
$font-size: 32px;
$font-weight: 600;
$line-height:40.32px;
$font-size-nav: 14px;
$font-weight-nav: 600;
$line-height-nav:20px;

.section-1-bg-color{
    background-color: $bg-color-1;
}

.section-2-bg-color{
    background-color: $bg-color-2;
}

:root {
    --bulma-body-background-color : #{$bg-color-1};
    --bulma-body-family:#{$font-family};
    --bulma-body-weight:#{$font-weight};
}

.navbar {
    background-color: #{$nav-bg};
    font-size: #{$font-size-nav};
    line-height: #{$line-height-nav};
}

.navbar-brand{
    .navbar-item{
        padding: 10px;
    }

    a.navbar-item {
        background-color: #{$nav-bg};
    }
}


@media screen and (min-width: 1024px) {
    .navbar{
        margin: 24px 80px 0px 80px;
        padding: 12px 24px;
        border-radius: 64px;
        align-items: stretch;
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        transition: transform 0.3s ease-in-out;

        &.hidden {
            transform: translateY(-130%);
        }
    }
    .navbar-end{
        margin-inline-start:0;
    }
    .navbar-menu{
        flex-grow: 0;
    }
    .navbar-start{
        display: flex;
        justify-content: space-between;
        width: 480px;
        line-height: 20px;

        .navbar-item{
            color:#000000;
        }
        a.navbar-item {
            background-color: #{$nav-bg};
        }
    }
    .navbar-item{   
        padding: 0px;
    }
    .button.is-primary {
        padding: 16px;
        width: 180px;
        border-radius: 32px;
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #ff3366;  
    }
  
}


    @media screen and (max-width: 1024px) {
        .button {
            &.is-primary
            {
                &.nav {
                    display: none;
                }
            }
        }
        
    }

.grid{
    --bulma-grid-gap: none;
}


.cell {
    &.cell1 {
        width: 85%;
        height: auto;
        margin: 48px auto 32px auto;
    }
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        .heading1{
            font-size: 40px;
            font-weight: 700;
            line-height:48px;
            text-align: center;
            color: #FFFFFF;
            font-weight: 600;
        }

        .stacked-cards {
            height: 5rem;
            perspective: 1000px;
            position: relative;
            width: 100%;
            
          }
          .stacked-cards .stacked-card {
            background-color: #e8e8ff;
            transform-origin: center;
            transition: all .5s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
          }
          .stacked-cards .stacked-card:first-child {
            animation: card-elevation-animation 4s linear infinite;
            animation-delay: 0s;
            transform: translateY(0) scale(1);
            z-index: 3;
          }
          .stacked-cards .stacked-card:nth-child(2) {
            animation: card-elevation-animation 4s linear infinite;
            animation-delay: 1.3333333333s;
            transform: translateY(10px) scale(1);
            z-index: 2;
          }
          .stacked-cards .stacked-card:nth-child(3) {
            animation: card-elevation-animation 4s linear infinite;
            animation-delay: 2.6666666667s;
            transform: translateY(20px) scale(1);
            z-index: 1;
          }
        
          .stacked-card{
        
            &.card-styling{
                background-color:#E8E8FF;
                color: #0B0B17;
                border-color: #BFB1F5; 
                border-width: 0.74px;
                border-radius: 4.43px;
                height: 53.12px;
                padding: 6px 24px;
                font-weight: 600;
            }
          }

        .about {
            width:100%;
            height:auto;
            margin:24px auto 32px auto ;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #F5F5F5;
        }
        .button{
            &.is-primary {
                &.center{
                    width: 150px;
                    height: 44px;
                    padding: 12px 40px;
                    border-radius: 47px;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: #ff3366;  
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {

    .cell {
        &.cell1 {
            width: 60%;
            height: auto;
            margin: 180px auto 96px auto;
        }
        .container1{
            .heading1{
                font-size: 64px;
                line-height: normal;
                text-align: center;
                color: #FFFFFF;
            }

            .stacked-cards{
                width: 80%;

                .stacked-card{
                    height: 72px;
                    font-weight: 600;
                    font-size: 44px;
                    color:  #0B0B17;;
                    line-height: normal;
                    border-width: 2px;
                    border-radius: 8px;
                    padding: 16px;
            
                }

            }
            .about {
                width: 80%;
                margin-top: 48px;
                line-height: normal;
                font-size: 16px;
            }
        }
    }

}


  @keyframes card-elevation-animation {
    0% {
        transform: translateY(0) translateZ(0) scale(1);
        z-index: 3;
    }
    25% {
        opacity: .9;
        transform: translateY(15px) scale(.9);
        z-index: 2;
    }
    50% {
        transform: translateY(25px) translateZ(-60px) scale(.8);
        z-index: 1;
    }
    75% {
        transform: translateY(35px) translateZ(-80px) scale(.7);
        z-index: 0;
    }
    to {
        transform: translateY(0) translateZ(0) scale(1);
        z-index: 3;
    }
  }


  .cell {
    &.cell2{
        width:85%;
        height: auto;
        margin:0px auto;
    }
  }

  .handle{
    background-color: #fff;
    border: 1px solid #742eff;
    border-radius: 4px;
    box-shadow: 2px 4px 4px 2px hsla(0, 0%, 72%, .25);
    height: 36px;
    width: 33px;
    stroke: #742eff;
  }

  .before,
  .after {
    margin: 0;
  }


  .before figcaption,
  .after figcaption {
    background: #742EFF;
    border-radius: 4px;
    color:#FFFFFF;
    opacity: 0.8;
    padding: 8px 12px;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    line-height: 100%;
    font-size: 12px;
  }

  .before figcaption {
    left: 12px;
  }

  .after figcaption {
    right: 12px;
  }

  .whitelabel-before-after{
    --divider-width:6px;
    --divider-color:#742eff;
    cursor: grab;
  }



@media screen and (min-width: 1024px) {
    .cell {
        &.cell2{
            width: 70vw;
        }
    }
}


    .cell {
        &.cell3 {
            width: 100%;
            height: auto;
            margin: 32px auto 0px auto;

            .container3{
                width: 90%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 24px;

                .heading2 {
                    width: 100%;
                    height: auto;
                    font-size:32px;
                    text-align: center;
                    line-height: normal;
                    color: #FBFBFB;
                    font-weight: 600;
                }

                .c3-c1{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .image{
                        width: 100%;
                        height: auto;
                    }

                    .c3-c1-c1{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .child-container{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 8px;
        
                            .child-heading{
                                font-size: 16px;
                                color:  #FFFFFF;
                                font-weight: 600;
                                line-height: normal; 
        
                            }
        
                            .child-para{
                                font-size: 16px;
                                color:  #FBFBFB;
                                font-weight: 400;
                                line-height: normal; 
        
                            }
                        }

                    }
                
                }

                
            }
        }

    }


    @media screen and (min-width: 1024px) {
        .cell {
            &.cell3{

                width: 100%;
                padding: 12px;

                

                .container3{
                    display: flex;
                    flex-direction: column;

                    .heading2{
                        width: 60%;
                        font-size: 40px;
                    }

                    .c3-c1{
                        display: flex;
                        flex-direction: row-reverse;

                        .image{
                            width: 50%;
                            height: 60%;
                        }
                        .c3-c1-c1 {
                            display: flex;
                            flex-direction: column;
                            margin:auto 0;

                            .child-container{
                                width:80%;
                                .child-heading{
                                    font-size: 24px;
                                }

                                .child-para{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }


            }
        }
    }

    .cell {
        &.cell4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin: 48px auto 48px auto;
    
            .container4 {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .heading4 {
                    font-size: 22px;
                    font-weight: 600;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
    
            }
        }
    }

    :root {
        --marquee-width: 100vw;
        --marquee-height: 20vh;
        /* --marquee-elements: 12; */ /* defined with JavaScript */
        --marquee-elements-displayed: 5;
        --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
        --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
    }
    .marquee {
        width: var(--marquee-width);
        height: auto;
        background-color: transparent;
        color: #eee;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }
    .marquee:before, .marquee:after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 1;
    }
    .marquee:before {
        left: 0;
        background: linear-gradient(to right,  #161732 0%, transparent 100%);
    }
    .marquee:after {
        right: 0;
        background: linear-gradient(to left,  #161732 0%, transparent 100%);
    }
    .marquee-content {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling var(--marquee-animation-duration) linear infinite;
    }
    /* .marquee-content:hover {
    animation-play-state: paused;
    } */
    @keyframes scrolling {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
    }
    .marquee-content li {
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        flex-shrink: 0;
        width: var(--marquee-element-width);
        max-height: 100%;
        font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
        white-space: nowrap;
        margin: 0 20px;
    }
    .marquee-content li img {
        width: 100%;
        
    }
  
    @media screen and (min-width: 1024px) {
        .cell {
            &.cell4{
                .container4{
                    .heading4{
                        font-size:32px;
                    }
                }
            }
        }
    }

.cell {
        &.cell11{
            width: 90%;
            height: auto;
            background-color: $bg-color-1;
            margin: 48px auto;
            border-radius: 24px;

            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px 20px 0px 20px;
                gap: 24px;

                .header{
                    font-size: 32px;
                    line-height: 40px;
                    color: #FFFFFF;
                }

                .c11{
                    .c11-c11{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        margin-bottom: 32px;
                        .para{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                        .para-heading{
                            font-size: 20px;
                            line-height: 24px;
                            color:  #FFFFFF;
                        }
                        .para-description{
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 400;
                            color: #FBFBFB;
                        }
                    }
                }
                .c11-c12{
                    display: flex;
                    width: 100%;

                    img{
                        flex-grow: 1;
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {

    .cell {
        &.cell11{
            width: 80%;
            margin: 80px auto;

            .container{
                display: flex;
                gap: 64px;
                flex-direction: column;
                margin: 72px 0 0 96px;

                .header{
                    margin-right: 272px;
                    font-size: 36px;
                    line-height: 40px;
                    color: #FFFFFF;
                }
                .c11{
                    display: flex;
                    flex-direction: row;
                    gap: 72px;

                    .c11-c11{
                        .para{
                            display: inline-flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .para-heading{
                                
                                font-size: 20px;
                            }
                            .para-description{
                                font-size: 16px;
                                
                            }
                        }
                    }
                    .c11-c12{
                        display: flex;
                        img{
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }


}

.cell {
    &.cell12{
        width: 90%;
        margin: 0 auto;
        height: auto;
        
        .container{
            .heading{
                font-weight: 600;
                font-size: 32px;
                color: #0B0B17;
                line-height: normal;
                text-align: center;
                padding: 0 12px;
                margin-bottom: 24px;
            }
            .c121{
                display: flex;
                flex-direction: column;
                gap: 28px;

                .c121-heading{
                    font-size: 20px;
                    color: #0B0B17;
                }
                .content{
                    
                    color:#0B0B17;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }
    }
}